body {
	background: url('../images/bg.png');
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:300;
	text-align: left;
	text-decoration: none;
	height: 500px;
}

  .ui-widget-header,.ui-state-default, ui-button{
            background:#b9cd6d;
            border: 1px solid #b9cd6d;
            color: #FFFFFF;
            font-weight: bold;
  }


.recommended {
    border-radius: 5%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
}

#themes{
  padding-left: 10px;
  padding-top: 5px;
}
#comments {
  width: 500px;
  margin-left: 10px;
}
 
ol {
  color: #ccc;
  list-style-type: none;
}
 
ol li {
  
  font: bold italic 25px/1.5 Helvetica, Verdana, sans-serif;
  margin-bottom: 1px;
}
 
li p {

  font: 12px/1.5 Helvetica, sans-serif;
  padding-left: 20px;
  padding-top: 5px;
  color: #555;
}
 